@tailwind base;
@tailwind components;
@tailwind utilities;

blockquote,
body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block !important;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}

.text-gray {
  color: gray;
}

.star-blue {
  color: #43c9e1;
}

.star-lightblue {
  color: #d8f6fd;
}

.disp-text {
  white-space: pre-wrap;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #535252;
}

.avatar-container {
  border: 2px solid black;
  border-radius: 50%;
  transition: box-shadow 0.3s;
  position: relative;
}
.avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.avatar-container:hover {
  box-shadow: 0px 0px 9px 0px gray;
}

.identification-container {
  border: 2px solid black;
  border-radius: 16px;
  transition: box-shadow 0.3s;
  position: relative;
}
.identification-img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.identification-container:hover {
  box-shadow: 0px 0px 9px 0px gray;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1;
  height: 100px;
  gap: 16px;
  padding-left: 32px;
  padding-right: 16px;
}

.user-list .user-item {
  border-radius: 4px;
  margin-bottom: 4px;
  padding: 4px;
  cursor: pointer;
}
.user-list .user-item-selected {
  background-color: aliceblue;
  box-shadow: lightgray 0px 1px 5px;
}

.user-list .user-item:hover {
  background-color: aliceblue;
}

.category-container {
  max-height: 60vh;
  overflow: auto;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  gap: 16px;
}

.ant-timeline .ant-timeline-item-last {
  padding-bottom: 0px;
}
